@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="admin">admin</a>.</p>
    <p><a href="blog/post-1">blog/post-1</a>.</p>
    <p><a href="mvc2">mvc2</a>.</p>

</div>
